body {
    /* background-image: url("../img/HomePage/Background.jpg"); */
    background-color: rgb(198, 253, 235);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -150px;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    background-attachment: fixed;
}

#logo1 {
    width: 100px;
    height: auto;
    border-radius: 40px;
    padding: 15px 15px;
}

#header {
    background-color: rgba(255, 255, 255, 1);
    height: 130px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

.container {
    margin: 0 auto;

}

nav {
    display: flex;
    justify-items: center;

}

#main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}


#main-menu li a {
    color: black;
    font-weight: bolder;

    display: block;
    padding: 0px 70px;
    line-height: 130px;
    text-decoration: none;
    font-size: 30px;
}

#main-menu li {
    position: relative;
}

#main-menu ul.sub-menu {
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    padding: 0;
    list-style: none;
    width: 370px;
    display: none;
    z-index: 3;
    box-shadow: 0px 2px 2px 2px grey;
}

#main-menu ul.sub-menu a {
    line-height: normal;
    padding: 10px 20px;
    margin: auto;
    border-bottom: 1px solid green;
}

#main-menu ul.sub-menu li:hover a {
    background-color: aqua;
}

#main-menu ul.sub-menu li:last-child a {
    border: none;
}

#main-menu li:hover ul.sub-menu {
    display: block;
}

#main-menu>li>a {
    position: relative;
}

#main-menu>li>a::before {
    content: "";
    height: 4px;
    width: 0%;
    background: green;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#main-menu>li:hover>a::before {
    width: 100%;
}

#icon {
    font-size: 70px;
}

#main-menu>li:last-child {
    padding: 25px 0px;
    padding-left: 240px;
    position: relative;
}

#sub-menu2 {
    position: absolute;
    left: 10px;
    top: 130px;
}

#bar {
    position: relative;
    top: 90px;
    background-color: rgb(197, 197, 236);
    width: 420px;
    margin-left: 0;
    padding-left: 0;
    height: 900px;
    position: fixed;
}

#bar h2 {
    top: 20px;
    text-align: center;
    font-size: 50px;
    position: relative;
    display: block;
    width: 400px;
}

#bar ul {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    padding: 0px 0px;
    list-style: none;
    width: 400px;
    box-shadow: 0px 2px 2px 2px grey;
    top: 10px;
    left: 10px;
}

#bar ul li {
    list-style: none;
    height: 60px;
    border-bottom: 1px solid grey;
    
}

#bar ul li:last-child {
    border-bottom: none;
}

#bar ul li a{
    line-height: normal;
    padding: 0px 20px;
    margin: auto;
    text-decoration: none;
    color: black;
    list-style: none;
    font-size: 30px;
    line-height: 60px;
}

.product {
    width: 340px;
    position: absolute;
}

.product p{
    padding: 0;
    margin: 0;
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
    border: 1px solid green;
    border-radius: 20px;
    width: 200px;
    position: relative;
    left: 50px;
    background-color: rgba(135, 235, 135,0.5);
    color: rgb(1, 78, 1);
}


#producttm {
    top: 100px;
    position: absolute;
    left: 400px;
}

.productimg {
    width: 330px;
    height: auto;
}

#producttm .product1{
    display: flex;
    margin: 20px 0px;
    position: relative;
}

#producttm .product1 .product {
    display: block;
    position: relative;
}
