.row {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fff;
}

.nav {
    background-color: rgb(153, 95, 7) ;
}

.nav .navbar-expand-lg .navbar-nav .nav-link {
    color: white;
    font-size: 140%;
}

.nav .navbar-expand-lg .navbar-nav li:hover, .active {
    background-color: rgb(184, 113, 8);
}


.nav .navbar {
    padding: 0;
}

.btn-group {
    border-radius: 0px;
}
