body {
    background-image: url(../img/SingIn/Background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: 'Times New Roman', Times, serif;
    color: #874D0C;
}

#section {
    border: 1px solid grey;
    height: 550px;
    width: 530px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    position: fixed;
    left: 36%;
    top: 20%;
    padding: 10px;
}

h2 {
    font-size: 60px;
    padding: 0;
    margin: 0;
    text-align: center;
}



#icon {
    font-size: 60px;
    margin: 5px;
    position: relative;
    top: 10px;
}

#acount, #password {
    margin-top: 10px;
    margin-bottom: 10px;
}

#showpass {
    left: 300px;
    position: relative;
    top: 10px;
}


.input {
    height: 50px;
    width: 400px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
    padding-left: 20px;
    background-color: #E5CCB3;
    border: 1px solid #C59F7B;
}

#buttonRegister {
    text-align: center;
    position: relative;
    top: 20px;
}


#register {
    height: 60px;
    width: 250px;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    border-radius: 30px;
    color: #874D0C;
    background-color: #C59F7B;
    border: 0px;
}

#singin:hover {
    color: white;
    background-color: #874D0C;
}

#showpass2 {
    font-size: 20px;
}

#showpass1 {
    height: 20px;
    width: 20px;
    position: relative;
    top: 2px;
}

input:focus {
    outline: none;
}

#header {
    height: 100px;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 40px;
    position: relative;
}

#Home {
    position: relative;
    top: 20px;
    left: 10px;
    text-decoration: none;
    color: white;
}

#logo {
    position: relative;
    left: 94%;
    top: -50px;
}

#Logo1 {
    width: 100px;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 20px;
}